
/* material-dashboard overrides */

.sidebar[data-color="purple"] .nav li.active > a {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(219, 127, 103, 0.4);
}





.card.bg-primary, .card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card.card-rotate.bg-primary .back, .card.card-rotate.bg-primary .front {
    background: linear-gradient(60deg,#333745,#25283d);
}


a.btn {
    padding: 6px 15px;e
    color: #fff;
}

.btn.btn-primary {
    background-color: #4e6c7a;
    box-shadow: none;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active , .btn.btn-primary:focus:active {
    background-color: #567889;
    box-shadow: none;
}


.card .card-header-primary .card-icon, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card .card-header-primary .card-text {
    box-shadow:
        0 4px 20px 0px
        rgba(0, 0, 0, 0.14), 0 7px 10px -5px
        rgba(181, 181, 181, 0.4);
}


.form-control, .is-focused .form-control {
    background-image:
        linear-gradient(to top, #473198 2px, rgba(156, 39, 176, 0) 2px),
        linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

/*
.text-primary {
    color: #473198 !important;
}

thead.text-primary th {
    font-weight: 700;
}
*/

#data-table thead th {
    font-weight: 500 !important;
}


a {
    /* color: #2746b0; */
    color: #c33c54;
}

a:hover, a:active {
    /* color: #14245a; */
    color: #723d46;
	text-decoration: underline;
}


a.light-link {
    color: #fefefe;
}

a.light-link:hover, a.light-link:active {
    color: #ffffff;
	text-decoration: underline;
}



.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #cecece;
}



/* Custom nested sidebar */

ul.nav ul.nav {
    background: #eaeaea;
    margin-top: 0;
}

ul.nav ul.nav a.nav-link {
    padding: 5px 0 5px 40px;
}

.sidebar[data-color="purple"] ul.nav ul.nav li.active > a {
    background-color: #db5147;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(219, 127, 103, 0.4);
}
